html, body {
  margin: 0;
  padding: 0;
}
#headerbox {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background: #lightblue;
}
#titlebox {
  width: 100%;
  background: #D5CCFF;
  color: black ;
  height: 1em;
  text-align: center;
  padding: 3px 3px 8px ;
}
table {
  border-collapse: collapse;
  width: 100% ;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
th {
  cursor: pointer;
}
th:hover {
  background:  yellow;
}
tr.head {
  background: #CCFFFF ;
}
tr:hover {
  background: lightyellow ;
}
tr, li {
  background: #CCCCFF ;
  min-height: 1em;
}
tr:nth-child(odd), li:nth-child(odd) {
  margin: 4px 0 0 0;
  border-style: double none none none ;
  padding: 4px 0 0 0;
  background: #E6F2FF ;
}
tr.choice, li.choice {
  background: gold !important;
}
tr:nth-child(odd):hover, li:nth-child(even):hover {
  background: lightyellow ;
}

.PatientData li {
  background: #E6F2FF ;
  margin: 0 0 0 0;
  border-style: double none none none ;
  padding: 4px;
}

.PatientData li:nth-child(odd) {
  background: #CCCCFF ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.divbutton {
  margin: 1px;
  padding: 3px;
  border: 3px;
  display: inline-block;
  background: #3366FF;
  font-size: 14px;
  vertical-align: baseline;
  font-family: inherit;
  color: white;
  border-style: groove ;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.divbutton:disabled {
  color: grey;
  background: #9eb6ff ;
}
 
#deleteedit {
  background: red;
  float: right;
}
.entryfield_text {
  min-height: 1em;
}
  
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #8C9BFB;
  color: #4d4d4d;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#missiondbody {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 0 0 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#headerbox h1 {
  display: block;
  height: 70px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  margin-block-start: 10px;
  margin-block-end: -.9em;
  
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.pageOverlay {
  display: none ;
}

#CommentList li:nth-child(odd) {
  font-style: italic;
  display: flex;
  width: 100%;
}
footer {
  color: darkblue;
  position: absolute;
  right: 0;
  left: 0;
  height: 10px;
  text-align: center;
  font-size: 12px;
}

#syncstatus {
  background: paleblue;
  border: 4px;
}

#userbutton, #remotebutton {
  background: #99ddff;
}

.entryfield_image {
  max-width: 100%;
  height: auto ;
}
@media only and (orientation: landscape) {
  .entryfield_image {
    max-height: 80%;
  width: auto ;
  }
}
#imageInput, .imageBar, #imageQ {
  display:none;
}
.editable {
  border: 1px solid darkgray;
  width: 100%;
}
.editor {
    border:solid 1px #ccc;
    padding: 20px;
    min-height:200px;
}
.editToolbar {
    border:solid 1px #ddd;
    background:#f4f4f4;
    padding: 5px;
    border-radius:3px;
}
.editToolbar button {
  background: lightblue;
}
.editToolbar span {
    cursor:pointer;
    background: inherit;
}
.editToolbar span:hover {
    color: yellow;
}
.editthecomment {
  display: inline-block;
  background: yellow;
  color: black;
  border: 1px solid red;
  margin: 1px 3px 1px 1px ;
}
.inly {
  display : inline-block;
}
.editthecomment:disabled {
  background: #ffffcc;
  color: grey;
}
#textdiv, #CommentNewText div:nth-child(3) {
  background: gold;
  min-height: 1em;
  border: 2px solid black;
}
.tbardel:disabled {
  background: #ffffcc;
  color: grey;
}
.return {
  background: green;
}
.delete {
  background: red !important;
  float: right;
}
.divbutton:hover {
  color: yellow;
}
.divbutton:disabled {
  background: #ffffcc;
  color: grey;
}
@media print {  
  @page {
  size: 6in 4in; /* landscape */
  margin: 0;
  }
}
#printCard {
    position: absolute ;
    background: lightgrey ;
    left: 0 ;
    top: 0 ;
    border: -2px solid black ;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}
.rowCard {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1px;
}
.rowCard div {
    width: 100% ;
}
.rowCard:first-child {
    flex-grow: 0;
    flex-basis: 180px;
}
#printCard table {
    table-layout: auto;
    border-collapse: collapse;
    border: 0;
  }
#printCard tr {
    background: white;
    color: black;
}
#printCard td {
    word-wrap: break-word;
    width: 70% ;
  }
#printCard td:nth-child(1) {
    width: 30% ;
    font-weight: bold;
  }
}
.print_class {
    display: none ;
}
.screen {
    display: block ;
}
#PatientPhotoContent, #MainMenuContent {
  display: flex ;
  background: #b3b3ff ;
  justify-content: center;
  align-items: center;
  flex-direction: column ; 
}
#PatientPhotoContent img {
  display: block ;
  max-width: 50% ;
  height: auto;
}
#PatientPhotoButtons {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}
.PatientProcButtons {
  display: flex;
  flex-direction: column;
}
#InvalidPatientContent {
    padding: 5px ;
}
.PatientData input {
    background: #F6F6F6 ;
    size: 35 ;
}
.PatientData textarea {
    background: #F6F6F6 ;
    vertical-align: top;
    rows: 3;
    cols: 35;
}



